{% extends "vending/base.html" %}
{% block content %}
<h2>Location: {{ vm.location }}</h2>
<h3>Stock</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Purchase</th>
    </tr>
    </thead>
    <tbody>
    {% for item in stock %}
    {% if item.stock != 0 %}
    <tr>
        <td>{{ item.snacks.name }}</td>
        <td>{{ item.snacks.price }}</td>
        <td>{{ item.stock }}</td>
        <td><a href="/purchaseSnack/{{ vm.id }}/{{ item.snacks.id }}/">Buy</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

<div class="addSnack">
    <form method="post" , action="#" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="snackName" placeholder="Snack Name">
            <input type="number" name="snackQty" placeholder="Quantity to be added">
            <button type="submit" name="addSnack" value="newSnack" class="btn btn-outline-primary">Add Snack
            </button>
        </div>
    </form>
</div>

<div class="editStock">
    <form method="post" , action="#" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="snackName" placeholder="Snack Name">
            <input type="number" name="snackQty" placeholder="Quantity to be added">
            <button type="submit" name="editStock" value="editStock" class="btn btn-outline-primary">Edit Stock
            </button>
        </div>
    </form>
</div>

<div>
    <button type="submit" class="btn btn-danger" onclick="location.href='/deleteVM/{{ vm.id }}/'">Delete Vending
        Machine
    </button>
</div>

<h3>Available Snacks for Restock</h3>
<table class="table table-striped">
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
    </tr>
    {% for snack in snacks %}
    {% if snack.stock != 0 %}
    <tr>
        <td>{{ snack.name }}</td>
        <td>{{ snack.price }}</td>
        <td>{{ snack.availableQuantity }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}
